<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/Screenshot 2022-11-29 at 16.58.25.png" alt="" width="60" height="26" class="d-inline-block align-text-top">
      ISTABRAK
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" >
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/man']" routerLinkActive="router-link-active" >MAN</a>
        <a class="nav-link" [routerLink]="['/woman']" routerLinkActive="router-link-active">WOMAN</a>
        <a class="nav-link" [routerLink]="['/kids']" routerLinkActive="router-link-active">KIDS</a>
      </div>
      <div class="rightElements">
        <!--
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" >ABOUT</a>
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >CONTACT</a>
        -->
        <div class="account">
        <a class="nav-link" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">REGISTER</a>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">





              <form [formGroup]="registrationForm" (ngSubmit)="addCustomer()" novalidate>
                <div class="mb-3">
                  <label for="exampleInputEmail1"  class="form-label">First Name</label>
                  <input type="text" class="form-control" formControlName="firstName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1"  class="form-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control"  formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>









            </div>
          </div>
        </div>
        <a class="nav-link" [routerLink]="['/signIn']" routerLinkActive="router-link-active">SIGN IN</a>
        </div>
        &nbsp;&nbsp;
       <div class="icon1">
        <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" routerLink="">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        &nbsp;&nbsp;
      <div class="icon2">
        <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" routerLink="" >
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg>
      </div>
      </div>
      </div>
    </div>
  </div>
</nav>
