<div class="banner">
    <h1>
        You can have anything you want in life if you dress for it.
    </h1>
    <div class="buttons">
        <button class="button-89" role="button" [routerLink]="['/man']" routerLinkActive="router-link-active">MAN</button>
        <button class="button-89" role="button" [routerLink]="['/woman']" routerLinkActive="router-link-active">WOMAN</button>
        <button class="button-89" role="button" [routerLink]="['/kids']" routerLinkActive="router-link-active">KIDS</button>
    </div>
</div>
<!-- HTML !-->


